body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 70rem;
  padding: 2rem;
}

#autocompleteDiv {
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: 2%;
  justify-content: center;
}

#firstRowInputs {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
}

#submitButtonDiv {
  display: flex;
  justify-content: center;
  
}